### Writing program to demonstrate deep and shallow copy

In [10]:
#deep copy

import copy

list_one = [1,[4,5],6]
list_two = copy.deepcopy(list_one)

list_one[1][0] = 10
list_two,list_one

([1, [4, 5], 6], [1, [10, 5], 6])

In [11]:
#shallow copy

l_1 = [2,3,[4,5],6]
l_2 = copy.copy(l_1)

l_1[2][0] = 10
print(l_1,l_2)

[2, 3, [10, 5], 6] [2, 3, [10, 5], 6]

### How to combine many series to form a dataframe?

In [12]:
import numpy as np
import pandas as pd

series1 = [np.random.randint(0,100) for i in range(5)]
series2 = [np.random.randint(0,100) for i in range(5)]
series3 = [np.random.randint(0,100) for i in range(5)]

data = pd.DataFrame({})
data['Series 1'] = series1
data['Series 2'] = series2
data['Series 3'] = series3
data

   Series 1  Series 2  Series 3
0        30        67        44
1        64        97        36
2        87        33        25
3        80        35         3
4        37         4        70

### Replace items that satisfy a condition with another value in numpy array

In [13]:
import numpy as np
 
array = data['Series 1']
 
an_array = np.where(array>50, 0, array)
print(an_array)

[30  0  0  0 37]